.logout-btn {
    background: none;
    border: none;
    color: inherit;
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .logout-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  
  .bottom-content {
    margin-top: auto;
    padding-bottom: 20px;
  }